@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* lobster-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lobster-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v30-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body {
  @apply h-full;
}
body {
  @apply flex flex-col select-none;
  font-family: "Montserrat";
}
main {
  @apply grow;
}

@layer components {
  @layer components {
    .align-elements {
      @apply px-2 sm:px-4 md:px-6 max-w-full sm:max-w-3xl md:max-w-4xl lg:max-w-6xl mx-auto;
    }
  
    .logo-family {
      font-family: "Lobster";
      font-weight: 300;
    }
  
    .argentina-bg,
    .greece-bg,
    .thailand-bg,
    .norway-bg {
      @apply border-[3px] border-white bg-no-repeat bg-cover bg-center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  
    .argentina-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/argentina.jpg);
    }
  
    .greece-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/greece.jpg);
    }
  
    .thailand-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/thailand.avif);
    }
  
    .norway-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/norway.jpg);
    }
  
    .travel-bg {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(../images/travel-bg.jpg);
      @apply bg-no-repeat bg-cover bg-center;
    }
  
    .btn-text {
      @apply flex justify-center font-medium uppercase text-base sm:text-lg md:text-xl lg:text-2xl transition-all hover:text-black;
    }
  
    .card-wrapper {
      @apply w-[140px] h-[200px] sm:w-[160px] sm:h-[240px] md:w-[200px] md:h-[300px] rounded-2xl;
    }
  
    .hidden {
      display: none;
    }
  
    .mo {
      @apply fixed bg-[#4a320b] rounded-xl w-full max-w-[90%] sm:max-w-[500px] md:max-w-[600px] p-4 sm:p-6 md:p-8 z-[100];
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .overlay {
      @apply fixed top-0 bottom-0 left-0 w-full bg-black bg-opacity-40 backdrop-blur-sm z-[99];
    }
  
    .title {
      @apply text-xl sm:text-2xl md:text-3xl font-bold;
    }
  
    .modal-btn {
      @apply flex items-center justify-between mb-4;
    }
  }
  
}
